<h1>Log page for suspect <%= @email %></h1>

<table>
	<thead>
		<tr>
			<td>URL:</td>
			<td>At:</td>
		</tr>
	</thead>
	<tbody>
		<% @suspects.each do |access| %>
		<tr>
			<td><%= access.url %></td>
			<td><%= access.access_at %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Suspects List', home_path %> 