<h1><%= @title%></h1>
<h2>Total suspects: <%= @suspects.count %> </h2>

<table>
	<thead>
		<tr>
			<td>GUID</td>
			<td>Log</td>
		</tr>
	</thead>

	<tbody>
		<% @suspects.each do |suspect| %>
		<tr>
			<td><%= suspect.guid %></td>
			<td><%= link_to 'View', by_guid_suspects_path(guid: suspect.guid) %></td>
		</tr>
		<% end %>
	</tbody>
</table>