<h1>Log page for suspect <%= @suspect.email %></h1>

<table>
	<thead>
		<tr>
			<td>URL:</td>
			<td>At:</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @suspect.url %></td>
			<td><%= @suspect.created_at%></td>
		</tr>
	</tbody>
</table>

<a href="/">Suspects List</a>